<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <title></title>
</head>
<body>
    
      <div class="card text-white bg-success mb-3" style="max-width: 18rem;">
        <!-- <div class="card-header">Contactanos</div> -->
        <div class="card-body">
          <h5 class="card-title">Contactanos en:</h5>
          <li><p class="card-text">Tel: 34 343 345 342</p></li>
          <li><p class="card-text1"></p>email: adopta.ungato@gmail.com</li>
          <li><p class="card-text2"></p>C/ Almejas 37 Madrid</li>
        </div>
      </div>
     
     

</body>
</html>


